<div class="col-md-4" >
  <div class="card-category my-1">
    <%= link_to cocktail.name, cocktail %>
  </div>
  <div class="items" style="display: flex; justify-content: space-evenly;">
    <p><%= link_to 'Show', cocktail %></p>
    <p><%= link_to 'Delete', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</div>
