<%= render partial: 'cocktails/navbar' %>
<div class="container">

  <div class="my-4">
    <div class="row">
      <%= render partial: 'cocktails/card', collection: @cocktails, as: :cocktail %>
    </div>
  </div>
</div>
